# Node dependencies
node_modules
dist
.vite

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# OS / editor junk
.DS_Store
Thumbs.db

# Local env files
.env
.env.local
.env.*.local

# Git
.git
.gitignore

# Docker
Dockerfile
docker-compose.yml
.dockerignore

# IDE configs
.vscode
.idea

# Test / coverage / storybook
coverage
*.test.*
*.spec.*
.storybook